# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2
# Use a package of configuration called an orb.

# orbs:
#   # Declare a dependency on the welcome-orb
#   welcome: circleci/welcome-orb@0.4.1

jobs:
  test:
    docker:
      - image: rikorose/gcc-cmake    
    steps:
      - checkout
      - run:
          command: |
            echo "running test"

  build:
    requires:
      -test
    docker:
      - image: rikorose/gcc-cmake    
    steps:
      - checkout
      - run:
          command: |
            echo "running specific branch tasks"

# Orchestrate or schedule a set of jobs
workflows:
  version: 2
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      # - welcome/run
      - test
      - build
      #   requires: 
      #     - test       
      #   filters:
      #     branches:
      #       only:
      #         - master
      #   - run:
      #     command: |
      #       echo "running specific branch tasks"
      
